<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_aart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_aart_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit_Profile"
            android:parentActivityName=".Foster_Profile">
        </activity>
        <activity android:name=".UpdatePost"
            android:parentActivityName=".Foster_Profile">
        </activity>
        <activity android:name=".Foster_Profile"
            android:parentActivityName=".Cards">
        </activity>
        <activity android:name=".FilterPage"
            android:parentActivityName=".Cards">
        </activity>
        <activity android:name=".LoginPage"
            android:parentActivityName=".FirstPage">
        </activity>

        <activity android:name=".FirstPage">

        </activity>
        <activity android:name=".SplashScreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Foster_reg"
            android:parentActivityName=".FirstPage">
        </activity>
        <activity android:name=".Details"
            android:parentActivityName=".Cards">
        </activity>
        <activity android:name=".UploadForm"
            android:parentActivityName=".Cards">
        </activity>
        <activity android:name=".Cards"
            android:parentActivityName=".FirstPage">
        </activity>
        <activity android:name=".MainActivity"
            android:parentActivityName=".FirstPage">
        </activity>
    </application>

</manifest>