<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petronus.petronus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo5"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo5_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent">
        <activity android:name="com.petronus.petronus.About_Us"></activity>
        <activity
            android:name="com.petronus.petronus.Splash_Screen_2"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.petronus.petronus.Edit_Profile"
            android:parentActivityName="com.petronus.petronus.Foster_Profile"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity
            android:name="com.petronus.petronus.UpdatePost"
            android:parentActivityName="com.petronus.petronus.Foster_Profile" />
        <activity
            android:name="com.petronus.petronus.Foster_Profile"
            android:parentActivityName="com.petronus.petronus.Cards" />
        <activity
            android:name="com.petronus.petronus.FilterPage"
            android:parentActivityName="com.petronus.petronus.Cards" />
        <activity
            android:name="com.petronus.petronus.LoginPage"
            android:parentActivityName="com.petronus.petronus.FirstPage" />
        <activity
            android:name="com.petronus.petronus.FirstPage"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
        <activity android:name="com.petronus.petronus.SplashScreen"></activity>
        <activity
            android:name="com.petronus.petronus.Foster_reg"
            android:parentActivityName="com.petronus.petronus.FirstPage" />
        <activity
            android:name="com.petronus.petronus.Details"
            android:parentActivityName="com.petronus.petronus.Cards"
            android:theme="@style/AppTheme.MyPostDetailsStyle" />
        <activity
            android:name="com.petronus.petronus.UploadForm"
            android:parentActivityName="com.petronus.petronus.Cards" />
        <activity
            android:name="com.petronus.petronus.Cards"
            android:parentActivityName="com.petronus.petronus.FirstPage" />
        <activity
            android:name="com.petronus.petronus.MainActivity"
            android:parentActivityName="com.petronus.petronus.FirstPage"
            android:theme="@style/AppTheme.ActionBar.Transparent" />
    </application>

</manifest>